<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    //- link CSS
    link(rel="stylesheet", href="css/main.css")
    //- Lib
    link(rel="stylesheet", href="css/libs/flickity.css")
    //- font text
    link(rel="stylesheet", href="css/fonts.css")
  body
    .wrapper
    //- JQuery
    script(src="js/libs/_jquery.js")
    //- flickity JS
    script(src="js/libs/flickity.pkgd.min.js")
    //- photo swipe
    //- Replace To SVG
    script(src="js/libs/replaceSVG.js")
    //- Main JS
    script(src="js/main.js")